<div>
  <div>
  <h3>{{this.title}}</h3>
  <p class="card-language">{{this.language}}</p>
  <p class="card-creator">{{this.creator.username}}</p>
  <a class="open-snippets" href="/snippets/{{this._id}}">Open snippet</a>
</div>
</div>
