<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="shortcut icon" type="/image/png" href="/images/snipperest.png">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav>
    <a href="/">Home</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
    <a href="/auth/logout">Logout</a>
    <a href="/auth/edit">Edit your user</a>

  </nav>
  <br>
  <nav>
    <a href="/snippets">All snippets</a>
    <a href="/snippets/new">New snippet</a>
  </nav>
  <br>
  <nav>
    <a href="/boards">All boards</a>
    <a href="/boards/new">New board</a>
  </nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>