<h1 class="snippet-title">Create new snippet</h1>


<form action="/snippets/new" method="post">
  <div class="input-container">
    <label for="title">Title</label>
    <input class="form-text-input" type="text" id="title" name="title" placeholder="title of the snippet">
    <label for="language">Language</label>
    <select class="form-select" name="language" id="language" onchange="changeMode(this)">
      <option value="HTML">HTML</option>
      <option value="CSS">CSS</option>
      <option value="JS">JavaScript</option>
    </select>

  </div>
  <label class="label" for="code">Code snippet</label>
  <textarea name="code" id="code" cols="30" rows="10"></textarea>
  <label class="label label-description" for="description">Description</label>
  <textarea class="form-textarea" name="description" id="description" cols="30" rows="10"></textarea>

  <div class="input-container">

    <label for="source">Source</label>
    <input class="form-text-input" type="text" id="source" name="source"
      placeholder="(optional) where did you get the snippet?">
    <br><br>
    <label for="board">Board</label>
    <select class="form-select" name="board" id="board">
      {{#each boards}}
      <option value="{{this.id}}">{{this.name}}</option>
      {{/each}}
    </select>

  </div>

  <button class="form-button">Create new snippet</button>


</form>

<script src="/javascripts/edit-snippet.js"></script>