<h1>Create new board</h1>

<form action="/boards/new" method="POST">
  <label for="name">Name</label>
  <input type="text" id=title name="name" placeholder="name of the board">
  <br><br>
  <button>Create board</button>
</form>