<h1 class="snippet-title">Create new board</h1>

<form action="/boards/new" method="POST">
  <label for="name">Name</label>
  <input class="form-text-input" type="text" id=title name="name" placeholder="name of the board">
  <button class="form-button new-board">Create board</button>
</form>